In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("/opt/ml/input/data/all_feature_data.csv")
data.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,dataset,cumAccuracy,tagCount,day,...,KnowledgeTagAcc,KTAccuracyCate,userLVbyTest,testLV,bigClassAcc,elapsedTime,tagCluster,elapsedTimeClass,seenCount,year
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,1,0.0,0,24,...,1.0,11,37.0,1.0,0.791908,3,3,1,0,2020
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,1,1.0,0,24,...,1.0,11,37.0,1.0,0.791908,8,3,2,0,2020
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,1,1.0,1,24,...,1.0,11,37.0,1.0,0.791908,7,3,2,0,2020
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,1,1.0,2,24,...,1.0,11,37.0,1.0,0.791908,7,3,2,0,2020
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,1,1.0,3,24,...,1.0,11,37.0,1.0,0.791908,11,3,3,0,2020

In [3]:
print(data.columns)

Index(['userID', 'assessmentItemID', 'testId', 'answerCode', 'Timestamp',
       'KnowledgeTag', 'dataset', 'cumAccuracy', 'tagCount', 'day',
       'cumCorrect', 'bigClass', 'month', 'recAccuracy', 'bigClassAccCate',
       'KnowledgeTagAcc', 'KTAccuracyCate', 'userLVbyTest', 'testLV',
       'bigClassAcc', 'elapsedTime', 'tagCluster', 'elapsedTimeClass',
       'seenCount', 'year'],
      dtype='object')

In [7]:
data_target=data[['cumAccuracy', 'bigClassAccCate','KnowledgeTagAcc', 'KTAccuracyCate', 'userLVbyTest', 'testLV',
       'bigClassAcc']].copy()
data_target.head()

,cumAccuracy,bigClassAccCate,KnowledgeTagAcc,KTAccuracyCate,userLVbyTest,testLV,bigClassAcc
0,0.0,9,1.0,11,37.0,1.0,0.791908
1,1.0,9,1.0,11,37.0,1.0,0.791908
2,1.0,9,1.0,11,37.0,1.0,0.791908
3,1.0,9,1.0,11,37.0,1.0,0.791908
4,1.0,9,1.0,11,37.0,1.0,0.791908

In [8]:
correlation = data_target.corr(method= "kendall")
print("The Correlation Matrix is: \n")
correlation

/opt/conda/lib/python3.8/site-packages/scipy/stats/_stats_py.py:4868: RuntimeWarning: overflow encountered in long_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

The Correlation Matrix is:

                 cumAccuracy  bigClassAccCate  KnowledgeTagAcc  \
cumAccuracy         1.000000         0.465161         0.299119
bigClassAccCate     0.465161         1.000000         0.498804
KnowledgeTagAcc     0.299119         0.498804         1.000000
KTAccuracyCate      0.304743         0.508144         0.972554
userLVbyTest        0.011545         0.011161         0.008907
testLV             -0.174007        -0.294007        -0.323959
bigClassAcc         0.443320         0.917986         0.472625

                 KTAccuracyCate  userLVbyTest    testLV  bigClassAcc
cumAccuracy            0.304743      0.011545 -0.174007     0.443320
bigClassAccCate        0.508144      0.011161 -0.294007     0.917986
KnowledgeTagAcc        0.972554      0.008907 -0.323959     0.472625
KTAccuracyCate         1.000000      0.010819 -0.329411     0.481310
userLVbyTest           0.010819      1.000000  0.316930     0.009502
testLV                -0.329411      0.316930  1.000000    -0.277425
bigClassAcc            0.481310      0.009502 -0.277425     1.000000

In [10]:
correlation

,cumAccuracy,bigClassAccCate,KnowledgeTagAcc,KTAccuracyCate,userLVbyTest,testLV,bigClassAcc
cumAccuracy,1.000000,0.465161,0.299119,0.304743,0.011545,-0.174007,0.443320
bigClassAccCate,0.465161,1.000000,0.498804,0.508144,0.011161,-0.294007,0.917986
KnowledgeTagAcc,0.299119,0.498804,1.000000,0.972554,0.008907,-0.323959,0.472625
KTAccuracyCate,0.304743,0.508144,0.972554,1.000000,0.010819,-0.329411,0.481310
userLVbyTest,0.011545,0.011161,0.008907,0.010819,1.000000,0.316930,0.009502
testLV,-0.174007,-0.294007,-0.323959,-0.329411,0.316930,1.000000,-0.277425
bigClassAcc,0.443320,0.917986,0.472625,0.481310,0.009502,-0.277425,1.000000

In [12]:
tabular=pd.read_csv("/opt/ml/input/data/all_feature_tabular_data.csv",index_col=0)
print(tabular.columns)
tabular.head()

Index(['userID', 'modeTestId', 'accuracy', 'modeKT', 'modeKTCount',
       'modeKTAcc', 'modeKTAccCate', 'modeKTCate', 'recAuccracyLast',
       'modeBigClass', 'modeBigClassAccCate', 'modeBigClassAcc',
       'userLVbyModeTest', 'modeTestLV', 'meanElapsedTime',
       'meanElapsedTimeClass', 'dataset'],
      dtype='object')

,userID,modeTestId,accuracy,modeKT,modeKTCount,modeKTAcc,modeKTAccCate,modeKTCate,recAuccracyLast,modeBigClass,modeBigClassAccCate,modeBigClassAcc,userLVbyModeTest,modeTestLV,meanElapsedTime,meanElapsedTimeClass,dataset
0,0,818,0.630872,4784,14,0.266667,4,3,0.5,8,6,0.468320,37,5,36.057718,7.783893,1
1,1,341,0.853162,2010,35,0.972222,11,5,0.9,4,9,0.822719,58,4,80.610932,16.704180,1
2,2,209,0.612319,307,10,1.000000,11,6,0.3,3,10,0.876404,36,3,48.471014,10.311594,1
3,3,363,0.691120,2616,30,0.838710,9,12,0.6,5,8,0.654292,36,3,48.402510,10.277027,2
4,4,652,0.691505,2065,19,0.450000,5,2,0.5,7,8,0.701878,44,5,61.918033,12.973174,2

In [13]:
tabular_target=tabular[['accuracy','modeKTAcc', 'modeKTAccCate', 'userLVbyModeTest', 'modeTestLV', ]]
tabular_target.head()

   accuracy  modeKTAcc  modeKTAccCate  userLVbyModeTest  modeTestLV
0  0.630872   0.266667              4                37           5
1  0.853162   0.972222             11                58           4
2  0.612319   1.000000             11                36           3
3  0.691120   0.838710              9                36           3
4  0.691505   0.450000              5                44           5

In [14]:
correlation2 = tabular_target.corr(method= "kendall")
print("The Correlation Matrix is: \n")
correlation2

The Correlation Matrix is:

,accuracy,modeKTAcc,modeKTAccCate,userLVbyModeTest,modeTestLV
accuracy,1.000000,0.403731,0.416891,0.074478,-0.213028
modeKTAcc,0.403731,1.000000,0.954907,0.013682,-0.150620
modeKTAccCate,0.416891,0.954907,1.000000,0.013440,-0.156618
userLVbyModeTest,0.074478,0.013682,0.013440,1.000000,0.304598
modeTestLV,-0.213028,-0.150620,-0.156618,0.304598,1.000000