In [1]:
import numpy as np
import pandas as pd
import os

from tqdm import tqdm
from collections import defaultdict

raw_data = pd.read_csv("/opt/ml/input/data/FE_total_data.csv")
raw_data['accuracy'] = 0
raw_data.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,dataset,accuracy
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,1,0
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,1,0
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,1,0
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,1,0
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,1,0

In [2]:
user_ac=raw_data.groupby("userID")["answerCode"].apply(list)
user_ac.head()

userID
0    [1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, ...
1    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, ...
2    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
3    [1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, ...
4    [1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, ...
Name: answerCode, dtype: object

In [15]:
userID=pd.unique(raw_data.userID).tolist()
answer_rate_by_user=defaultdict(lambda : 0)
answer_rate_by_user

defaultdict(<function __main__.<lambda>()>, {})

In [ ]:
for u in userID:
    answer_rate_by_user[u]=sum(user_ac[u])/len(user_ac[u])

In [18]:
def acc(id):
    return answer_rate_by_user[id]
raw_data['accuracy']=raw_data['userID'].apply(acc)
raw_data.sample(5)

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,dataset,accuracy
107667,122,A070044005,A070000044,1,2020-05-21 23:34:25,5761,1,0.461315
1052109,1400,A040010005,A040000010,1,2020-06-11 01:09:29,2047,1,0.511881
2345443,4817,A080065003,A080000065,1,2020-09-27 01:52:03,2869,1,0.544910
2088707,3623,A020173001,A020000173,1,2020-08-28 05:12:29,8133,1,0.819672
801643,1037,A020034002,A020000034,1,2020-04-09 10:39:12,7921,1,0.814845

In [20]:
os.makedirs('/opt/ml/input/data/FE/', exist_ok=True)
raw_data.to_csv('/opt/ml/input/data/FE/accuracy.csv', index=False)