In [1]:
import pandas as pd
import os

In [2]:
input_df = pd.read_csv("/opt/ml/input/data/FE_total_data.csv")
input_df = input_df.sort_values(by=["userID", "Timestamp"]) # 재정렬

In [3]:
input_df["bigClass"] = input_df.assessmentItemID.str[2]
input_df.head(10) # 결과 출력

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,dataset,bigClass
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,1,6
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,1,6
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,1,6
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,1,6
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,1,6
5,0,A060001007,A060000001,1,2020-03-24 00:17:47,7225,1,6
6,0,A060003001,A060000003,0,2020-03-26 05:52:03,7226,1,6
7,0,A060003002,A060000003,1,2020-03-26 05:52:10,7226,1,6
8,0,A060003003,A060000003,1,2020-03-26 05:53:14,7226,1,6
9,0,A060003004,A060000003,1,2020-03-26 05:53:29,7226,1,6

In [4]:
os.makedirs('/opt/ml/input/data/FE/', exist_ok=True)
input_df.to_csv("/opt/ml/input/data/FE/bigClass.csv", index=False)