In [16]:
import pandas as pd
import os

In [17]:
input_df = pd.read_csv("/opt/ml/input/data/FE_total_data.csv")

try:
    time_df = pd.read_csv("/opt/ml/input/data/FE/elapsedTime.csv")
except:
    print ("/opt/ml/input/data/FE/elapsedTime.csv 파일이 없습니다ㅠㅠ")
    print ("elapsedTime.ipynb 를 먼저 실행시켜주세요!!")
    raise FileNotFoundError
    
input_df = input_df.sort_values(by=["userID", "Timestamp"])
time_df = time_df.sort_values(by=["userID", "Timestamp"])
input_df.head(3)

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,dataset
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,1
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,1
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,1

In [18]:
input_df["elapsedTimeClass"] = time_df["elapsedTime"] // 5 + 1
input_df.head(15)

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,dataset,elapsedTimeClass
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,1,1
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,1,2
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,1,2
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,1,2
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,1,3
5,0,A060001007,A060000001,1,2020-03-24 00:17:47,7225,1,2
6,0,A060003001,A060000003,0,2020-03-26 05:52:03,7226,1,2
7,0,A060003002,A060000003,1,2020-03-26 05:52:10,7226,1,13
8,0,A060003003,A060000003,1,2020-03-26 05:53:14,7226,1,4
9,0,A060003004,A060000003,1,2020-03-26 05:53:29,7226,1,4
10,0,A060003005,A060000003,1,2020-03-26 05:53:48,7226,1,2
11,0,A060003006,A060000003,1,2020-03-26 05:53:55,7226,1,4
12,0,A060003007,A060000003,1,2020-03-26 05:54:11,7226,1,5
13,0,A060005001,A060000005,1,2020-03-31 05:02:52,7227,1,3
14,0,A060005002,A060000005,1,2020-03-31 05:03:04,7228,1,2

In [19]:
os.makedirs('/opt/ml/input/data/FE/', exist_ok=True)
input_df.to_csv("/opt/ml/input/data/FE/elapsedTimeClass.csv", index=False) # 최종 결과 csv로 반환