유저별 해당 문제를 이전에 몇 번 먼저 봤었는지(누적)

In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm

raw_data = pd.read_csv("/opt/ml/input/data/FE_total_data.csv")
raw_data['seenCount']=0
raw_data.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,dataset,seenCount
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,1,0
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,1,0
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,1,0
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,1,0
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,1,0

In [2]:
userID=pd.unique(raw_data['userID']).tolist()
def countItem(itemID):
    tmp_dict[itemID]+=1
seenCount_DF=pd.DataFrame()
for id in tqdm(userID): # 20분 소요
    tmp_df=raw_data[raw_data['userID']==id]
    tmp_dict=dict()
    seen_all=pd.unique(tmp_df['assessmentItemID']).tolist()
    for item in seen_all: # 기본 dict 생성 완료
        tmp_dict[item]=0
    
    for i in range(len(tmp_df)):
        tmp_df.iloc[i,6]=tmp_dict[tmp_df.iloc[i,1]]
        tmp_dict[tmp_df.iloc[i,1]]+=1
    seenCount_DF=pd.concat([seenCount_DF,tmp_df], axis=0)

100%|██████████| 7442/7442 [20:06<00:00,  6.17it/s]

In [3]:
seenCount_DF.to_csv('/opt/ml/input/data/FE/seenCount.csv')