유저별 해당 문제를 이전에 몇 번 먼저 봤었는지(누적)

In [3]:
import numpy as np
import pandas as pd
import os

from tqdm import tqdm
from collections import defaultdict

raw_data = pd.read_csv("/opt/ml/input/data/FE_total_data.csv")
raw_data['seenCount'] = 0
raw_data.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,dataset,seenCount
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,1,0
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,1,0
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,1,0
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,1,0
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,1,0

In [5]:
userID = pd.unique(raw_data['userID']).tolist()

count_list = list()  # 새롭게 지정될 seenCount

for id in tqdm(userID):

    # user_id == id 인 user의 interaction 추출
    user_interaction = raw_data[raw_data['userID'] == id]

    # id인 user가 이전에 문제를 몇 번 보았는지 기록
    # problem_count[problem] = problem 문제를 이전에 몇 번 보았는가? (처음에는 0으로 초기화)
    problem_count = defaultdict(lambda: 0)

    for problem in user_interaction['assessmentItemID']:
        count_list.append(problem_count[problem])
        problem_count[problem] += 1

raw_data["seenCount"] = count_list

100%|██████████| 7442/7442 [00:22<00:00, 332.96it/s]

In [7]:
raw_data

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,dataset,seenCount
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,1,0
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,1,0
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,1,0
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,1,0
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,1,0
...,...,...,...,...,...,...,...,...
2526695,7441,A030071005,A030000071,0,2020-06-05 06:50:21,438,1,0
2526696,7441,A040165001,A040000165,1,2020-08-21 01:06:39,8836,1,0
2526697,7441,A040165002,A040000165,1,2020-08-21 01:06:50,8836,1,0
2526698,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836,1,0
2526699,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836,1,0

In [6]:
os.makedirs('/opt/ml/input/data/FE/', exist_ok=True)
raw_data.to_csv('/opt/ml/input/data/FE/seenCount.csv', index=False)